<script setup lang="ts">
import { onMounted, ref, inject } from "vue";
import L from "leaflet";
import {jaankasvu} from "../functions.js";


const lat = ref(61.163);
const lng = ref(23.747);
const map = ref();
const mapContainer = ref();

const weatherData = inject("weatherData",ref());
const fetchHours = ref(48);
const startTime = ref("");

const observations = ref(false);

const kumulatiivinenKasvuShow = inject("kumulatiivinenKasvuShow",ref(0));

const stationNameShow = inject("stationNameShow", ref(""));
const plusSign = inject("plusSign", ref(""));


onMounted(() => {
  map.value = L.map(mapContainer.value).setView([61.163,23.747], 8);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map.value);
  map.value.on('click', onMapClick);
  

});

function onMapClick(e: any) {
  lat.value = e.latlng.lat;
  lng.value = e.latlng.lng;
  lat.value.toPrecision(4);
  lng.value.toPrecision(4);

  getData();
}

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition((position) => {
      lat.value = position.coords.latitude;
      lng.value = position.coords.longitude;
      map.value.setView([lat.value, lng.value], 13);

      L.marker([lat.value, lng.value],{draggable : true})
      .addTo(map.value)
      .on("dragend",(event)=> {
         console.log(event)
      });
    });
  }
}

function clearMarkers() {
  location.reload();
} 

function observationsClicked() {
  if (!observations.value && startTime.value == "") {
    let date: Date = new Date();
    date.setHours(date.getHours() - fetchHours.value);

    let startTimeStr = "" + date.getFullYear() + ((date.getMonth() + 1) > 9 ? '' : '0') + (date.getMonth() + 1) + (date.getDate() > 9 ? '' : '0') + date.getDate()
      + (date.getHours() > 9 ? '' : '0') + date.getHours() + '00';
    
    startTime.value = startTimeStr;
  }
}

function getData() {

  if (!observations.value) {
    stationNameShow.value = "";
  }

  const startTimeInt = parseInt(startTime.value);

  let fetchUrl: string = 'https://opendata.fmi.fi/timeseries?format=json&latlon='
    + lat.value + ',' + lng.value
    + '&timesteps=' + fetchHours.value;

  if (startTimeInt > 202000000000) {
    fetchUrl = fetchUrl + "&starttime=" + startTime.value;
  } else {
    startTime.value = "";
  }

  if (observations.value) {
    fetchUrl = fetchUrl + '&producer=opendata&timestep=1h&param=stationname%2Ctime%2Cmean_t(TA_PT1M_AVG%3A1h)+as+temperature%2CCLA_PT1M_ACC+as+Cloudiness8th%2Cmean_t(RH_PT1M_AVG%3A1h)+as+Humidity%2Cmean_t(WS_PT10M_AVG%3A1h)+as+WindSpeedMS';
  } else {
    fetchUrl = fetchUrl + '&param=time,temperature,Cloudiness8th,Pressure,WindSpeedMS,Humidity,WindDirection,WindGust,DewPoint,Visibility';
  }
  
  fetch(fetchUrl)
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {

    let kumulatiivinenKasvu: number  = 0;

    let stationName: string = "";

    myJson.forEach (( weatherRow: any ) => {
      if (typeof(weatherRow.temperature) === "number" ||
      typeof(weatherRow.Cloudiness8th) === "number" ||
      typeof(weatherRow.WindSpeedMS) === "number" ||
      typeof(weatherRow.Humidity) === "number") {
        if (observations.value && weatherRow.stationname) {
          stationName = weatherRow.stationname;
        }
        let jaakasvaa: number = jaankasvu(weatherRow.temperature,weatherRow.Cloudiness8th,weatherRow.WindSpeedMS,weatherRow.Humidity);
        kumulatiivinenKasvu = kumulatiivinenKasvu + jaakasvaa;
        weatherRow.jaaKasvaa = Math.round(jaakasvaa * 100) / 100;
        weatherRow.kumulatiivinenKasvu = Math.round(kumulatiivinenKasvu * 100) / 100;
      }
    })

    stationNameShow.value = stationName + "";

    weatherData.value = myJson;
    kumulatiivinenKasvuShow.value = Math.round(kumulatiivinenKasvu * 10) / 10;
    if (kumulatiivinenKasvu > 0) {
      plusSign.value = '+';
    } else {
      plusSign.value = '';
    }

    L.marker([lat.value, lng.value],{draggable : false, icon: new L.DivIcon({
        html: plusSign.value + kumulatiivinenKasvuShow.value,
        className: 'transparentDiv',
    })})
      .addTo(map.value);
  });
}

</script>

<template>

  <v-container class="fill-height">
  <v-responsive class="align-left text-center fill-height">
  
  <v-row no-gutters>
  <v-col cols="3" sm="2" xs="2" class="mt-1 pr-1"> <v-text-field density="compact" type="number" v-model="fetchHours" hide-details label="Hae tuntia:"/> </v-col>
  <v-col cols="5" sm="4" xs="2" class="mt-1 pr-1"> <v-text-field density="compact" type="number" v-model="startTime" hide-details label="Alkuaika:"/> </v-col>
  <v-col cols="4" sm="3" xs="2" class="mt-1 pr-1"> <v-checkbox density="compact" v-model="observations" @click="observationsClicked()" label="Havainnot"> </v-checkbox></v-col>
  <v-col cols="4" sm="3" xs="2" class="mt-1"> <v-btn density="compact" @click="getData()">Hae ja laske</v-btn> </v-col>
  </v-row>
  <v-row no-gutters>
  <v-col cols="4" sm="3" xs="2" class="mt-1 pr-1"><v-btn density="compact" @click="getLocation()">Paikanna</v-btn></v-col>
  <v-col cols="4" sm="3" xs="2" class="mt-1 pr-1">{{ Math.round(lat*1000)/1000 }},{{ Math.round(lng*1000)/1000 }}</v-col>
  <v-col cols="4" sm="3" xs="2" class="mt-1 pr-1"><div v-if="typeof(weatherData) !== 'undefined'">{{ plusSign }}{{ kumulatiivinenKasvuShow }} mm</div></v-col>  
  <v-col cols="4" sm="3" xs="2" class="mt-1"><v-btn density="compact" @click="clearMarkers()">Siivoa kartta</v-btn></v-col>
  </v-row>
  <br/>

  <div ref="mapContainer" style="width: 100vw; height: 50vh; color: black; font-size: medium" ></div>
  <!--{{ stationNameShow }}-->

  <v-row>
    <v-col cols="16" sm="12" md="8">{{ stationNameShow }}</v-col>
  </v-row>

  </v-responsive>
</v-container>

</template>

<style scoped>
.transparentDiv {
  color:black
}
</style>