<template>
<v-container class="fill-height">
<v-responsive class="align-center text-left fill-height">

  <div style="font-size:3vw">Jään kasvun laskenta, 0.0.7</div>
  <br/>
  <div style="font-size:2vw">
    Uutta 0.0.7-versiossa: Lisätty Sää-välilehti, jossa taulukkomuodossa retkiluistelijoita kiinnostavia sääparametreja. Lisäksi uudelleenorganisoitu käyttöliittymää.
  </div>
  <br/>
  <br/>
  <div style="font-size:2vw">
    Uutta 0.0.6-versiossa: (Pyydetty ominaisuus) Havainnot-valintaa klikkaamalla alkuajaksi asetetaan nyt oletuksena "Hae tuntia"-arvon aika nykyhetkestä taaksepäin.
    Ennen oletus oli kiinteästi nykyhetki - 48h.
  </div>
  <br/>
  <br/>
  <div style="font-size:2vw">
    Sovellus pyrkii mallintamaan jään kasvua lämpötilan, suhteellisen kosteuden, pilvisyyden ja tuulen perusteella.
    Oletus laskennalle on, että vesistö on jäätynyt ja jää ei ole kovin paksua. Laskenta ei ota jään paksuudesta aiheutuvaa "lämmöneristystä" huomioon.
    Sovellus voi olla hyödyllinen tilanteessa, jossa arvioidaan, paljonko jää on kasvanut tai kasvaa (tai ohentunut/ohenee) tehdyn jäähavainnon jälkeen,
    ja voi auttaa näin retkien suunnittelussa.
  </div>
  <br/>
  <div style="font-size:2vw">
    Lähtöarvot laskentaan haetaan Ilmatieteenlaitoksen hilaennustedatasta,
    tai jos "Hae havainnoista"-valinta on valittuna, niin havainnoista.
    "Paikanna"-hakee paikan laitteesi paikannuksesta. 
    "Hae data ja laske" hakee mittaus/ennustustiedot ja mallintaa jään kasvun ajanjaksolla. 
    Voit myös klikata kartan kohtaa, jolloin tehdään haku ja laskenta klikatulle paikalle.
  </div>
  <br/>
  <div style="font-size:2vw">
    Laskenta perustuu suurelta osin skrinnarien sivuilla saatavilla olevaan jäänkertymislaskentataulukkoon
    (jonka laskenta perustuu retkiluistelukirjaan)
    antaen hieman eri tuloksia. Lumipeitettä (ja varmaan montaa muutakaan asiaa) ei oteta huomioon.
    Omaisuuksia tulee myöhemmin lisää (käyrän piirto, havaintojen ja ennusteen vertailu).
    Ennustedataa on saatavilla noin kaksi päivää taaksepäin. Alkuaika pitää antaa muodossa 'yyyyMMddHHmm',
    oletuksena nykyhetki. Ennustedataa on paikan suhteen huomattavasti tiheämmin saatavilla kuin havaintodataa.
    Havaintodataa haetaan lähimmältä mittausasemalta, joista vain osalla on kaikki mittaussuureet saatavilla.
    Tämä riippuu mittausasematyypistä, joita ovat mm IL:n omat asemat ja Fintrafficin tiesääasemat.
    Jos havaintoasemalla ei ole pilvisyystietoja, oletetaan, että on pilvistä.
    Jos ei saada tuulitietoja, oletetaan että ei tuule.
  </div>
  <br/>
  <div style="font-size:2vw">
    Luisteluterveisin,  &nbsp; Pekka Manninen &nbsp; pekka.t.manninen@gmail.com
  </div>
  <br/>
  <div style="font-size:2vw">
    Keskustelua jään kasvun laskennasta: <a href="https://www.skrinnari.fi/skridskonet/kommentar/diskussion.html?ID=3678">https://www.skrinnari.fi/skridskonet/kommentar/diskussion.html?ID=3678</a>
  </div>  
  <br/>

</v-responsive>
</v-container>
</template>