<script setup lang="ts">
import { ref, inject } from "vue";

const weatherData = inject("weatherData", ref());
const kumulatiivinenKasvuShow = inject("kumulatiivinenKasvuShow", ref(0));

const stationNameShow = inject("stationNameShow", ref(""));
const plusSign = inject("plusSign", ref(""));

</script>

<template>

  <v-container class="fill-height">
  <v-responsive class="align-left text-center fill-height">

  <v-row>
    <v-col>{{ stationNameShow }}</v-col>
    <v-col><div v-if="typeof(weatherData) !== 'undefined'">{{ plusSign }}{{ kumulatiivinenKasvuShow }} mm</div></v-col>
  </v-row>

  <div v-if="typeof(weatherData) !== 'undefined'" ref="tableContainer" class="container">
		<table style="font-size:2vw">
			<thead> <!--time,temperature,Cloudiness8th,Pressure,WindSpeedMS,Humidity-->
				<tr> 
					<th>Aika</th>
          <th>Lämpötila</th>
          <th>Pilvisyys 1/8</th>
					<th>Tuuli m/s</th>
					<th>Suht. kosteus</th>
          <th>Jää kasvaa mm</th>
          <th>Kumulat. kasvu mm</th>
				</tr>
			</thead>
			<tr v-for="weatherRow in weatherData" :key="weatherRow.time">
				<td>{{weatherRow.time}}</td>
        <td>{{weatherRow.temperature}}</td>
        <td>{{weatherRow.Cloudiness8th}}</td>
        <td>{{weatherRow.WindSpeedMS}}</td>
        <td>{{weatherRow.Humidity}}</td>
        <td>{{weatherRow.jaaKasvaa}}</td>
        <td>{{weatherRow.kumulatiivinenKasvu}}</td>
			</tr>
		</table>
	</div>

  </v-responsive>
</v-container>

</template>

<style scoped>
.transparentDiv {
  color:black
}
</style>