<template>
  <v-app id="inspire">

    <v-app-bar :elevation="10">
        <v-btn @click="showIceCalculator()">Jäänmuodostin</v-btn>
        <v-btn @click="showWeatherDataTable()">Taulukko</v-btn>
        <v-btn @click="showWeather()">Sää</v-btn>
        <v-btn @click="showOhjeet()">Ohjeet</v-btn>
    </v-app-bar>

    <v-main>
      <div v-show="iceCalculatorShow"><IceCalculator /></div>
      <div v-if="weatherDataTableShow"><WeatherDataTable /></div>
      <div v-if="weatherShow"><Weather /></div>
      <div v-if="ohjeetShow"><Info /></div>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
  import { ref, provide } from 'vue'

  import IceCalculator from "@/components/IceCalculator.vue"
  import Info from "@/components/Info.vue"
  import WeatherDataTable from "@/components/WeatherDataTable.vue"
  import Weather from "@/components/Weather.vue"


  const weatherData = ref();
  provide("weatherData", weatherData);

  const kumulatiivinenKasvuShow = ref(0);
  const stationNameShow = ref("");
  const plusSign = ref("");

  provide("kumulatiivinenKasvuShow", kumulatiivinenKasvuShow);
  provide("stationNameShow", stationNameShow);
  provide("plusSign", plusSign);


  const ohjeetShow = ref(false);
  const iceCalculatorShow = ref(true);
  const weatherDataTableShow = ref(false);
  const weatherShow = ref(false);

  function showOhjeet() {
      iceCalculatorShow.value = false;
      weatherDataTableShow.value = false;
      ohjeetShow.value = true;
      weatherShow.value = false;
  }

  function showIceCalculator() {
      ohjeetShow.value = false;
      weatherDataTableShow.value = false  
      iceCalculatorShow.value = true;
      weatherShow.value = false;
  }

  function showWeatherDataTable() {
      ohjeetShow.value = false;
      weatherDataTableShow.value = true;  
      iceCalculatorShow.value = false;
      weatherShow.value = false;
  }

  function showWeather() {
      ohjeetShow.value = false;
      weatherDataTableShow.value = false;  
      iceCalculatorShow.value = false;
      weatherShow.value = true;
  }

</script>
